@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat+Alternates:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wit {
  display: none;
}

.body {
  width: 99vw;
  min-height: 215vh;
  background: #410353;
}

#wave1 {
  position: relative;
  height: 100vh;
  left: -45%;
  top: 65%;
}

#wave2 {
  position: relative;
  height: 100vh;
  left: 45%;
  top: -65%;
}

.span {
  top: 0px;
  z-index: -100;
  position: fixed;
  overflow: hidden;
  padding: 5vh 5vw;
  width: 90vw;
  height: 90vh;
}

@media screen and (min-width: 2000px) {
  #wave2 {
    left: 60%;
    top: -75%;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(219, 219, 219, 0.445);
}

#inicio {
  margin-top: 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(39, 39, 39, 0.3647058824);
  border-radius: 30px;
  width: 85vw;
  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

div {
  width: fit-content;
  height: fit-content;
}

#logo {
  transition: 0.5s;
  height: 50%;
  width: auto;
}
#logo:hover {
  transform: rotate(30deg);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Exo 2", sans-serif;
  font-size: 7vh;
  text-align: right;
  text-transform: uppercase;
}

.t_link {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
}

.more {
  margin-top: 20px;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.5vh;
  font-weight: 700;
  padding: 5px 20px 5px 20px;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 10px;
  background: linear-gradient(45deg, #e333ff, #ff00a8);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
.more:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
  background-size: 100% 100%;
}

main {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85vw;
  height: 80vh;
}

.cal {
  border-radius: 30px;
  background-color: rgba(39, 39, 39, 0.3647058824);
  height: 100%;
  width: 27%;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.res {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4%;
  justify-content: center;
  align-content: center;
  justify-items: start;
  overflow: auto;
}

.resMain {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 65%;
  border-radius: 30px;
  background-color: rgba(39, 39, 39, 0.3647058824);
  backdrop-filter: blur(20px);
  overflow: hidden;
}

.buttons {
  height: 78%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  display: grid;
  grid-template-rows: repeat(5, 15%);
  grid-template-columns: repeat(4, 20%);
  gap: 4%;
  justify-content: center;
  align-content: center;
  justify-items: start;
  border-radius: 0px 0px 30px 30px;
}

.display {
  overflow: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 17%;
  width: 95%;
  padding: 2.5% 2.5%;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 7vh;
}

.display::-webkit-scrollbar {
  height: 10px;
}

.display::-webkit-scrollbar-thumb {
  background-color: rgba(219, 219, 219, 0.445);
}

#display {
  max-width: 90%;
  margin: 0% 5%;
}

button {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 4vh;
  font-family: "Exo 2", sans-serif;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#equal {
  height: 225%;
}

#cero {
  width: 220%;
}

#do {
  position: relative;
  left: 120%;
}

button {
  background: none;
  background: linear-gradient(45deg, #e333ff, #ff00a8);
  transition: 0.3s;
  background-repeat: no-repeat;
  cursor: pointer;
}

.number {
  border: 2px rgb(255, 255, 255) solid;
  background: none;
}
.number:hover {
  background: linear-gradient(45deg, #e333ff, #ff00a8);
  border: 2px rgb(255, 255, 255) solid;
}

.other {
  border: 2px #ff00a8 solid;
  background: none;
}
.other:hover {
  background: linear-gradient(45deg, #e333ff, #ff00a8);
  border: 2px rgb(255, 255, 255) solid;
}

.calcu {
  border: 2px #e333ff solid;
  background: none;
}
.calcu:hover {
  background: linear-gradient(45deg, #e333ff, #ff00a8);
  border: 2px rgb(255, 255, 255) solid;
}

.card {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.418);
  width: fit-content;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: end;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.day {
  font-size: 2.9vh;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 5vh;
  font-weight: 300;
  font-family: "Exo 2", sans-serif;
}

#delete {
  height: fit-content;
  width: fit-content;
  margin-left: 30px;
  background: linear-gradient(45deg, #ff3a4a, #ff3a4a);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
#delete:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
  background-size: 100% 100%;
}

.res::-webkit-scrollbar {
  width: 10px;
}

.res::-webkit-scrollbar-thumb {
  background-color: rgba(219, 219, 219, 0.445);
}

footer, .footer1 {
  background-color: rgba(39, 39, 39, 0.3647058824);
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85vw;
  min-height: 90px;
  border-radius: 30px;
  backdrop-filter: blur(20px);
}
footer img, .footer1 img {
  height: 5vh;
  width: auto;
  margin: 0px 9px 0 9px;
}

#redes_sociales {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 19%;
}

#copy {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos_footer2 {
  height: 4vh;
  width: auto;
  vertical-align: middle;
}

.footerScript {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2vh;
  font-weight: 300;
}

.footer1 {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #main {
    margin: 60px 0px;
    height: auto;
    flex-direction: column;
  }
  .cal {
    height: 90vh;
    width: 100%;
    margin-bottom: 40px;
  }
  .buttons {
    height: 75%;
  }
  .resMain {
    height: 90vh;
    width: 100%;
  }
  #logo {
    margin: 40px;
    width: 70%;
    height: auto;
  }
  .t_link {
    width: 100%;
    height: auto;
  }
  #inicio {
    padding: 40px 0px;
    height: auto;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1400px) {
  #wave1 {
    left: -75%;
    top: 75%;
  }
  h1 {
    text-align: center;
    width: 100%;
  }
  .t_link {
    align-items: center;
  }
  #logo {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .more {
    font-size: 15px;
  }
  #logo {
    width: 50%;
  }
  .res {
    grid-template-columns: repeat(1, auto);
    gap: 4%;
  }
  h1 {
    font-size: 40px;
  }
  #wave1 {
    left: -95%;
    top: 95%;
  }
  footer, .footer1 {
    padding: 20px 0px;
  }
  #copy {
    margin: 20px 0px 10px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
