body{
    @include flex(column, space-around, space-around, center, wrap);
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: map-get($map:$colors, $key: 'secut');
}
#inicio{
    margin-top: 20px;
    backdrop-filter: blur(20px);
    background-color: map-get($map:$colors, $key: 't');
    border-radius: 30px;
    width: 85vw;
    height: 80vh;
    @include flex(row-reverse, space-around, space-around, center, wrap);
}
div{
    width: fit-content;
    height: fit-content;
}
#logo{
    transition: 0.5s;
    height: 50%;
    width: auto;
    &:hover{
        transform: rotate(30deg);
    }
}
h1{
    color: map-get($map:$colors, $key: 'secu');
    font-family: 'Exo 2', sans-serif;
    font-size: 7vh;
    text-align:right;
    text-transform: uppercase;
}
.t_link{
    height: 100%;
    width: 40%;
    @include flex(column, center, center, end, wrap);
}
.more{
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    border:solid 2px map-get($map:$colors,$key: 'secu');
    border-radius:10px;
    background: linear-gradient(45deg,map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta2'));        
    background-position: 0% 0%;         
    background-repeat: no-repeat;        
    background-size: 100% 0%; 
    transition: 0.5s;
    color: map-get($map:$colors, $key: 'secu');
    &:hover{
        color:map-get($map:$colors,$key: 'secu');
        transition: 0.5s;
        background-size: 100% 100%;
}
}

main{
    @include flex(row, center, space-between, end, wrap);
    width: 85vw;
    height: 80vh;
}
.cal{
    border-radius: 30px;
    background-color: map-get($map:$colors, $key: 't');
    height: 100%;
    width: 27%;
    backdrop-filter: blur(20px);
    @include flex(column, center, space-between, end, wrap);
}
.res{
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4%;
    justify-content: center;
    align-content: center;
    justify-items: start;
    overflow: auto;
}
.resMain{
    @include flex(column, center, center, end, wrap);
    height: 100%;
    width: 65%;
    border-radius: 30px;
    background-color: map-get($map:$colors, $key: 't');
    backdrop-filter: blur(20px);
    overflow: hidden;
}
.buttons{
    height: 78%;
    width: 100%;
    background-color: map-get($map:$colors, $key: 'dark');
    display: grid;
    grid-template-rows: repeat(5, 15%);
    grid-template-columns: repeat(4, 20%);
    gap: 4%;
    justify-content: center;
    align-content: center;
    justify-items: start;
    border-radius: 0px 0px 30px 30px;
}
.display{
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 17%;
    width: 95%;
    padding: 2.5% 2.5%;
    font-family: 'Exo 2', sans-serif;
    color: map-get($map:$colors, $key: 'secu');
    font-weight: 900;
    font-size: 7vh;
}
.display::-webkit-scrollbar{
    height: 10px;
}
.display::-webkit-scrollbar-thumb{
    background-color: map-get($map:$colors, $key: 'secut');
}
#display{
    max-width: 90%;
    margin: 0% 5%;
}
button{
    color: map-get($map:$colors, $key: 'secu');
    font-weight: 900;
    font-size: 4vh;
    font-family: 'Exo 2', sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#equal{
    height: 225%;
}
#cero{
    width: 220%;
}
#do{
    position: relative;
    left: 120%;
}
button{
    background: none;
    background: linear-gradient(45deg,map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta2')); 
    transition: 0.3s;
    background-repeat: no-repeat;
    cursor:pointer;
}
.number{
    border: 2px map-get($map:$colors, $key: 'secu') solid;
    background: none;
    &:hover{
        background: linear-gradient(45deg,map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta2')); 
        border:  2px map-get($map:$colors, $key: 'secu') solid;       
    }
}
.other{
    border: 2px map-get($map:$colors, $key: 'deta2') solid;
    background: none;
    &:hover{
        background: linear-gradient(45deg,map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta2')); 
        border:  2px map-get($map:$colors, $key: 'secu') solid;       
    }
}
.calcu{
    border: 2px map-get($map:$colors, $key: 'deta') solid;
    background: none;
    &:hover{
        background: linear-gradient(45deg,map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta2')); 
        border:  2px map-get($map:$colors, $key: 'secu') solid;       
    }
}
.card{
    color: map-get($map:$colors, $key: 'secu');
    border-radius: 10px;
    height: auto;
    background-color: map-get($map:$colors, $key: 'dark');
    width: fit-content;
    padding: 20px;
    margin: 0;
    @include flex(column, end, space-between, end, wrap);
    overflow: auto;
}
.day{
    font-size: 2.9vh;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}
h3{
    font-size: 5vh;
    font-weight: 300;
    font-family: 'Exo 2', sans-serif;
}
#delete{
    height: fit-content;
    width: fit-content;
    margin-left: 30px;
    background: linear-gradient(45deg,map-get($map:$colors, $key: 'del'), map-get($map:$colors, $key: 'del'));
    background-position: 0% 0%;         
    background-repeat: no-repeat;        
    background-size: 100% 0%; 
    transition: 0.5s;
    color: map-get($map:$colors, $key: 'secu');
    &:hover{
        color:map-get($map:$colors,$key: 'secu');
        transition: 0.5s;
        background-size: 100% 100%;
}     
}
.res::-webkit-scrollbar{
    width: 10px;
}
.res::-webkit-scrollbar-thumb{
    background-color: map-get($map:$colors, $key: 'secut');
}