@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat+Alternates:wght@100;300&display=swap');
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Exo 2', sans-serif;
$colors:(
    'main':#410353,
    'secu': rgb(255, 255, 255),
    'secut': rgba(219, 219, 219, 0.445),
    'deta': #e333ff,
    'deta2': #ff00a8,
    't':#2727275d,
    'tt':#27272700,
    'dark':rgba(0, 0, 0, 0.418),
);
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@mixin flex($flex_d, $al_c, $ju_c, $al_i, $wr){
    display: flex;
    flex-direction: $flex_d;
    align-content: $al_c;
    align-items: $al_i;
    justify-content: $ju_c;
    flex-wrap: $wr;
};
.wit{
    display: none;
}